git+https://github.com/Pycord-Development/pycord[speed]
#py-cord[voice]
wheel
git+https://gitlab.com/Tmpod/libneko
aiohttp[speedups]
psutil
pytz
datetime
youtube-dl
google-api-python-client
pytemperature
qrcode[pil]
pillow
ciso8601
python-dateutil
uvloop # Remove this if you're running on Windows.
owoify
vaporwavely
safygiphy