#git+https://github.com/Rapptz/discord.py#egg=discord.py[voice]
discord.py[voice]
git+https://gitlab.com/Tmpod/libneko
psutil
pytz
datetime
youtube-dl
google-api-python-client
pytemperature
qrcode[pil]
ciso8601
python-dateutil
uvloop # Remove this if you're running on Windows.
owoify
vaporwavely
