py-cord[voice]
discord-py-interactions
git+https://gitlab.com/Tmpod/libneko
aiodns
brotli
cchardet
orjson
psutil
pytz
datetime
youtube-dl
google-api-python-client
pytemperature
qrcode[pil]
pillow
ciso8601
python-dateutil
uvloop # Remove this if you're running on Windows.
owoify
vaporwavely
safygiphy